<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key ="EntityType" value="{&quot;Created-Continue&quot;:&quot;Running&quot;,&quot;Created-Cancel&quot;:&quot;InternalErrorState&quot;,&quot;Running-Continue&quot;:&quot;Completed&quot;}"/>
  </appSettings>
</configuration>